@import './var.css';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--accent);
    color: var(--primary);
}

.profile-card-container, .profile-card-container__box,
.box__image, .box__details, .box__hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-container {
    height: 100vh;
}

.profile-card-container__box {
    width: 400px;
    height: 200px;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
}

.box__image {
    width: 49%;
    height: 100%;
    border: 0.5px solid var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
    flex-direction: column;
    border-radius: 15px;
}

.box__image > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.box__details {
    width: 49%;
    height: 100%;
    border: 0.5px solid var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
}

.box__details > p {
    margin-left: 16px;
}

.details__user-name {
    font-weight: 700;
    font-size: 1.5rem;
}

.details__position {
    font-size: .9rem;
    color: var(--secondary);
}

.box__checkbox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    z-index: 10;
    appearance: none;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px var(--tertiary);
    -webkit-appearance: none;
}

.box__checkbox::before {
    content: "\f062";
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.box__checkbox:checked:before {
    content: "\f00d";
    transform: translate(-50%, -50%) rotate(0deg);
}

.box__hidden {
    position: absolute;
    right: 0;
    width: 48%;
    height: 100%;
    align-items: start;
    flex-direction: column;
    transform: translate(100%);
    border: 0.5px solid var(--secondary);
    border-radius: 15px;
    transition: all 0.6s;
}

.box__checkbox:checked ~ .box__hidden {
    transform: translate(0%);
}

.box__hidden > p {
    margin-left: 15px;
    font-size: 1.5rem;
}

.hidden__skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.hidden__skills > div {
    font-size: 0.8rem;
    margin: 10px 15px 0 0;
    color: var(--tertiary);
    border: 1px solid var(--tertiary);
    padding: 5px 10px;
    font-size: .9rem;
}

.hidden__icons {
    font-size: 1.5rem;
    margin: 15px 15px;
}

.hidden__icons > i {
    cursor: pointer;
    color: var(--primary);
    margin-right: 10px;
}

.hidden__icons > i:hover {
    color: var(--tertiary);
    transition: 0.4s;
}